.svg_timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-57%, -50%);
	background-color: rgb(255, 0, 0);
	border-radius: 100px;
	transition: 0.3;
}
.timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: scale(0.5);
}
.c1 {
	position: absolute;
	top: 50%;
	left: 50%;
	stroke-width: 1.3em;
	stroke: #00ff88;
	stroke-dasharray: 600;
	stroke-linecap: round;
	transform: translate(100%, 0%) rotate(90deg);
}
