.tableItem {
	padding: 0px 10px;
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;

	.icon {
		width: 30px;
		height: 30px;
		border-radius: 500px;
		margin-right: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.name {
		margin-right: 5px;
	}

	&:nth-child(odd) {
		// background-color: #28314d09;
	}
}

@media screen and (max-width: 500px) {
	.tableItem {
		.profileWrapper {
			.name {
				max-width: 122px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
			}
		}

		&:nth-child(odd) {
			// background-color: #28314d09;
		}
	}
}
