.header {
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	z-index: 10000000;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #090f1e;

	.leftWrapper {
		display: flex;
		align-items: center;

		.burgerMenu {
			width: 40px;
			height: 40px;
			display: none;
			align-items: center;
			justify-content: center;
			font-size: 22px;
			color: #fff;
			margin-right: 10px;
		}

		.logoWrapper {
			display: flex;
			align-items: center;

			.logo {
				margin-right: 10px;
			}
			.logoText {
				font-size: 22px;
				font-weight: 600;
			}
		}
	}

	.avatar {
		width: 45px;
		height: 45px;
		border-radius: 50px;
		background: linear-gradient(#2970fa, #17203f);
		cursor: pointer;
		overflow: hidden;

		.border {
			width: 100%;
			height: 100%;
			padding: 2px;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50px;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.header {
		.leftWrapper {
			.burgerMenu {
				display: flex;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		padding: 0 10px;

		.leftWrapper {
			.burgerMenu {
				font-size: 20px;
			}
			.logoWrapper {
				.logo {
					img {
						width: 20px;
						height: 20px;
					}
				}
				.logoText {
					font-size: 12px;
				}
			}
		}

		.avatar {
			width: 30px;
			height: 30px;
		}
	}
}
