.header {
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	z-index: 1000;
	background: linear-gradient(90deg, #0d1528 0%, #161e33 49.58%, #101729 100%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	transition: 0.5s;

	.container {
		max-width: 1920px;
		width: 100%;
		padding: 0px 20px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.profile {
		display: flex;

		.avatar {
			width: 50px;
			height: 50px;

			font-size: 25px;
			background: linear-gradient(#2970fa, #17203f);
			border-radius: 10px;
			padding: 3px;

			.border {
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 100%;
					height: 100%;
					border-radius: 10px;
				}
			}
		}

		.content {
			margin-left: 10px;

			.name {
				font-size: 16px;
				margin-bottom: 2px;
				// max-width: 120px;
				// width: 120px;
				// overflow: hidden;
				// text-overflow: ellipsis;
				// white-space: nowrap;
			}

			.chips {
				display: flex;
				align-items: center;
				font-size: 15px;

				img {
					width: 20px;
					height: 20px;
					margin-right: 6px;
					margin-top: 4px;
					border-radius: 50px;
				}
			}
		}
	}

	.rightWrapper {
		display: flex;
		align-items: center;

		.item {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			border: 2px solid rgba(41, 112, 250, 0.2);
			border-radius: 10px;
			transition: 0.4s;
			margin-right: 5px;
			cursor: pointer;

			&:hover {
				transform: scale(0.9);
				background: linear-gradient(#2970fa, #17203f);
				border: 2px solid rgba(41, 112, 250, 1);
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.header {
		height: 50px;
		border-radius: 0px;
		font-size: 14px;
		background: transparent;
	}

	.profile {
		display: flex;
		align-items: center;
		padding: 0;

		.avatar {
			max-height: 40px;
			max-width: 40px;
			width: 35px;
			height: 35px;
			padding: 0;
		}

		.content {
			.name {
				font-size: 12px;
				padding-top: 2px;
			}

			.chips {
				display: flex;
				align-items: center;
				font-size: 12px;

				img {
					max-width: 14px;
					max-height: 14px;
				}
			}
		}
	}

	.rightWrapper {
		.item {
			min-width: 30px;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			border: 1px solid rgba(41, 112, 250, 0.1);
			border-radius: 10px;
			transition: 0.4s;

			cursor: pointer;

			&:hover {
				transform: scale(0.9);
				background: linear-gradient(#2970fa, #17203f);
				border: 2px solid rgba(41, 112, 250, 1);
			}
		}
	}
}

.visibleHeader {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border-radius: 10px;
	border: 2px solid rgba(41, 111, 250, 0);

	transition: 0.4s;
	cursor: pointer;

	&:hover {
		border: 2px solid rgba(41, 111, 250, 0.149);
		background-color: rgba(41, 112, 250, 0.1);
	}
}
