.footer {
	position: fixed;
	width: 100%;
	bottom: 10px;
	z-index: 100;
	// background: linear-gradient(90deg, #0d1528 0%, #161e33 49.58%, #101729 100%);
}

.flexContainer {
	width: 100%;
	height: 100%;
	// background-color: blue;
	display: flex;
	margin: 0 auto;
	padding: 0px 15px;
	flex-direction: column;
}

.menu {
	max-width: 1000px;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	// background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	.buttonFlex {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.buttonRow {
		// max-width: 500px;
		width: 100%;
		height: 100%;
		display: flex;
		// align-items: center;
	}
}

.readyWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.buttonReady {
		width: 250px;
		padding-bottom: 8px;
		font-size: 16px;
		margin-left: 0;
		background: linear-gradient(#2970fa, #0729a2);
	}
}

@media screen and (max-width: 800px) {
	.readyWrapper {
		position: absolute;
		height: 40px;
		bottom: -3px;

		.buttonReady {
			width: 100px;
			height: 40px;
			font-size: 12px;
		}
	}
}

.range {
	width: 250px;
	height: 20px;
	border-radius: 5px;
	background: linear-gradient(
		180deg,
		rgba(5, 86, 213, 0.79) 0%,
		rgba(33, 107, 244, 0.13) 100%
	);
	-webkit-appearance: none;
	appearance: none;
	margin-right: 20px;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 30px;
		width: 30px;
		border-radius: 10px;
		background: linear-gradient(#0556d5, #216bf4);
		box-shadow: 0 0 2px 0 #555;
		transition: background 0.3s ease-in-out;
		cursor: pointer;
	}

	&::-webkit-slider-thumb:active {
		border: 2px solid rgb(3, 32, 85);
	}
}
